<center style="font-size:18pt; background-color:#0f79b6">
    <br/>
        <b style="color: #ffffff">
            CONECTANDO BANCO DE DADOS MYSQL - CONTAINER - COM PYTHON
        </b>
    <br/>&nbsp;
</center>

In [69]:
# Conectando base de dados MySQL com Python
# by geanclm on 29/10/2023
# update com suvesso em 30/10/2023

In [ ]:
# LAB - recursos expladorados
# - Windows 11 (sistema principal hospedeiro)
# - WSL2 (subsitema windows 11 para executar o linux em terminal)
# - Docker (tecnologia de conteiner para rodar o servidor data base)
# - Linux Ubuntu (sistema operacional base no WSL2)
# - MySQL (banco de dados em container para transação de dados em tabelas)
# - Python (linguagem no Windows 11 para acessar os dados do DB)
# - Jupyter Notebook (editor de código utilizado com Python para o CRUD com a linguagem SQL)
# - ChatGPT (IA utilizada na condição de assistente para a geração de tabelas de teste)
# - Visual Studio Code (para edição e teste de código na versão .py)

In [3]:
# !pip install mysql-connector-python

In [41]:
import mysql.connector

In [59]:
conexao = mysql.connector.connect (
    host = 'localhost',
    user = 'root',
    password = 's145',
    database = 'estudo_db',
)

In [60]:
cursor = conexao.cursor()

In [45]:
# CRUD - INSERT
nome = "João APóstolo"
idade = 28
disciplina = 2
sql = 'INSERT INTO Aluno (nome, idade, id_disciplina) VALUES (%s, %s, %s)'
val = (nome, idade, disciplina)

# cursor.execute()
cursor.execute(sql, val)
conexao.commit()

In [70]:
# CRUD - SELECT
sql = 'SELECT * FROM Aluno'
cursor.execute(sql)
consulta = cursor.fetchall()
display(consulta)

[(1, 'Joo Silva', 20, 1),
 (2, 'Maria Santos', 888, 2),
 (4, 'Ana Pereira', 23, 4),
 (5, 'Carlos Ferreira', 999, 1),
 (6, 'Sofia Lopes', 20, 2),
 (7, 'Ricardo Oliveira', 24, 3),
 (8, 'Marta Costa', 22, 4),
 (9, 'Antnio Santos', 21, 1),
 (10, 'Lusa Silva', 20, 2),
 (12, 'Luciano M', 48, None),
 (13, 'Maria de Nazaré', 888, 2),
 (15, 'João APóstolo', 28, 2)]

In [65]:
# CRUD - UPDATE
sql = 'UPDATE Aluno SET idade = 888 WHERE nome LIKE "Maria%"'
cursor.execute(sql)
conexao.commit()

In [66]:
# CRUD - DELETE
sql = 'DELETE FROM Aluno WHERE nome LIKE "Pedro%"'
cursor.execute(sql)
conexao.commit()

In [ ]:
# encerrar conexão com o banco de dados
cursor.close()
conexao.close()